.music-cover-img {
    height: 60px;
    width: 60px;
}

mat-card-title.title.mat-card-title {
  height: 3em;
  margin: 0;
}

mat-card.example-card.mat-card:hover {
  background-color: gainsboro;
}

mat-card {
    margin: 0.25em;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 9.5em;
    height: 12em;
}

mat-card-title {
  font-weight: 400;
  margin: 0;
}

mat-card-actions {
    display: flex;
}

mat-card-content {
    margin: 1em;
    margin-bottom: 0;
}

//.music-cover-img[_ngcontent-cml-c12] {
//  height: 100px;
//  width: -webkit-fill-available;
//}
