<div class="main-login" >
    <form   
        class="example-form" 
        (ngSubmit)="onSubmit(loginForm)" 
        #loginForm="ngForm" >
        
        <mat-form-field class="example-full-width">
            <input 
                matInput 
                placeholder="Username" 
                type="text"
                name="username"
                ngModel >
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input 
                matInput 
                placeholder="Password" 
                type="password"
                name="password"
                ngModel >
        </mat-form-field>
        <button 
            mat-raised-button 
            color="primary" 
            type="submit" >Loign</button> | 
        <button 
            mat-raised-button 
            type="button" 
            (click)="onSignUp()" >Sign Up</button>
    </form>
</div>