.music-cover-img {
    height: 60px;
    width: 60px;
}

mat-card {
    margin: 0.25em;
    flex-basis: 1;
}

mat-card-actions {
    display: flex;
}

.errorEl {
    background-color: #ee794f;
    color: #ffffff;
    margin: auto;
}