<app-header></app-header>

<div class="main-container">
  <div class="row">
      
    <div class="first view-horizontal">
      <i class="material-icons">music_note</i>
      <i class="material-icons left" mat-raised-button>keyboard_arrow_left</i>
      <app-music  class="appMusic media" ></app-music>
      <i class="material-icons right">keyboard_arrow_right</i>
    </div>
    
    <div class="secone view-horizontal">
      <i class="material-icons">videocam</i>
      <i class="material-icons left" mat-raised-button>keyboard_arrow_left</i>
      <app-music-video class="appMusicVideo media" ></app-music-video>
      <i class="material-icons right">keyboard_arrow_right</i>
    </div>
    <div class="third view-horizontal">
        <i class="material-icons">tv</i>
        <i class="material-icons left" mat-raised-button>keyboard_arrow_left</i>
        <app-movie class="appMusic media" ></app-movie>
        <i class="material-icons right">keyboard_arrow_right</i>
    </div>
  </div>
</div>

<mat-toolbar color="accent" class="nav-bar">
    <span>Developed and Desiged by Sahil Manjiyani</span>
</mat-toolbar>

 